body {
  background-color: #A5C9CA;
}
hr {
  display: block;
  width: 4%;
  height: 0px;
  border-color: #395B64;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
}

h1 {
  color: #395B64;
  text-align: center;
}

h2 {
  color: #395B64
}

h3 {
  color: #395B64
}

h4 {
  color: #2C3333
}

h5 {
  color: #2C3333
}

img {
  border-radius: 50%;
}
